@import "tailwindcss";


/* @config "../../tailwind.config.js" */

/* @config {
  screens: {
    md: '930px';
  }
} */


@font-face {
  font-family: canela-light;
  src: url('/Fonts/Canela-Light-Web.woff2') format('woff2');
}

@font-face {
  font-family: canela-light-italic;
  src: url('/Fonts/Canela-LightItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: canela-thin;
  src: url('/Fonts/Canela-Thin-Web.woff2') format('woff2');
}
@font-face {
  font-family: canela-thin-italic;
  src: url('/Fonts/Canela-ThinItalic-Web.woff2') format('woff2');
}
@font-face {
  font-family: canela-regular;
  src: url('/Fonts/CanelaText-Regular-Web.woff2') format('woff2');
}
@font-face {
  font-family: canela-regular-italic;
  src: url('/Fonts/CanelaText-RegularItalic-Web.woff2') format('woff2');
}
@font-face {
  font-family: xanh-regular;
  src: url('/Fonts/XanhMono-Regular.woff') format('woff');
}
@font-face {
  font-family: xanh-italic;
  src: url('/Fonts/XanhMono-Italic.woff') format('woff');
}

@theme {
  --color-cursor-solid: #FFFFFF;
  --color-cursor-translucent: #FFFFFFcc;
  --color-burgundy-solid: #ed054a;
  --color-burgundy-translucent-1: #ed054a55;
  --color-burgundy-translucent-2: #ed054aaa;
  --font-canela-light: canela-light, "sans-serif";
  --font-canela-light-italic: canela-light-italic, "sans-serif";
  --font-canela-thin: canela-thin, "sans-serif";
  --font-canela-thin-italic: canela-thin-italic, "sans-serif";
  --font-canela-regular: canela-regular, "sans-serif";
  --font-canela-regular-italic: canela-regular-italic, "sans-serif";
  --font-xanh-regular: xanh-regular, "sans-serif";
  --font-xanh-italic: xanh-italic, "sans-serif";
}


* {
  cursor: none !important;
}


html,
body {
  height: 100%;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #121212;
  /* // Pure Dark */
  /* background-color: #1c0f13; // Dark Wine */
  /* background-color: #0d1b1e; // Petrol Black */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}




/* default dot */
.cursor {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid var(--color-cursor-solid);
  background-color: var(--color-cursor-solid);
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: width .2s ease, height .2s ease, background-color .2s ease, border-color .2s ease;

  /* background: white; */
  mix-blend-mode: difference;
}

/* when hovering a link/button… */
.cursor--hover {
  width: 24px;
  height: 24px;
  background-color: var(--color-cursor-translucent);
  /* background-color: var(--color-burgundy-solid); */
  /* border-color: var(--color-burgundy-translucent-1); */
  border-color: transparent;
}